#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  align-items: end;
}

.info {
  grid-column-start: 1;
  justify-items: start;
}

.search {
  grid-column-start: 5;
  grid-column-end: span 3;
}

.date {
  grid-column-start: 8;
  grid-column-end: span 3;
  justify-items: end;
}

h1 {
  font-size: 3em;
  color: var(--lightBlue);
}

@media (max-width: 850px) {
  .container {
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
  }
}
